body {
    max-width: 800px;
    margin: 0 auto;
}

.sender-column {
    text-align: right;
}

h1 {
    font-size: 1.5em;
    font-style: inherit;
}

h2 {
    font-size: 1.3em;
}

p,
ul,
ol,
dl,
address {
    font-size: 1.1em;
}

p,
li,
dd,
dt,
address {
    line-height: 1.5;
}

.letter-head {
    text-align: left;
    margin-right: 560px;
}

.bold_element {
    font-weight: bold;
}

.indent_text {
    margin-left: 40px;
}